.front {
	height: 700px;
	background: url('../img/front__bg.png') no-repeat;
	background-size: 100%;
	h1 {
		font: 70px Fira Sans Medium, sans-serif;
		margin-top: 270px;
	}
	p {
		font: 18px/30px Fira Sans, sans-serif;
		width: 77%;
		margin: 0 auto;
	}
}
